body {
	background-color: rgba(183,161,144,0.1);
	color: black;
	font-family: futura; 
}
h1 {
color: rgb(108,79,60);
font-family: futura ;
font-weight: 50;
font-size: 50px;
}

 h2 {
color: rgb(108,79,60);
font-family: futura;
font-weight: 60;
font-size: 30px;
}

h3 {color: rgb(108,79,60);
font-family: futura;
font-weight: 70;
font-size: 20px;
}


a{
	text-decoration: none;
	color: rgba(108,79,60,0.6);
}

a:hover {
	color: blue
}


div {
background: white;
padding: 60px;
margin: 50px;
box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
border-radius: 4px	
}

p {
	width: 700px;
	margin: 20px auto;
}


.container {
	width: 1000px;
	margin: 70px auto;
}


@media (max-width: 960px) {
	.container {
		width: 700px
	}
}

@media (max-width: 810px) {
	.container {
		width: 700px
	}
}

@media (max-width: 720px) {
	.container {
		width: 500px
	}
}



@media (max-width: 540px) {
	.container {
		width: 300px
	}
}

@media (max-width: 450px) {
	.container {
		width: 200px
	}
}

@media (max-width: 320px) {
	.container {
		width: 180px
	}
}



.card-white {
background-color: rgba(183,161,144,0.1);
padding: 50px;
box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
border-radius: 4px;
text-align: center;
}



.img-square {
	border-radius: 7%;
}

.img-bordered {
  border: 2px solid black;
}

.list-inline {
list-style: none;
padding-left: 0px;
}

.list-inline i {
	font-size: 60px;
	padding: 20px;
	 
}
